<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- 헤더 -->
<th:block th:replace="/include/fragments :: headerFragment"></th:block>

<!-- 컨텐츠 영역 -->
<div class="container w-50 mt-3">
    <h3>아티스트 등록</h3>
    <form enctype="multipart/form-data" action="/artist/register" method="post">
        <p>
            <select class="form-select" id="groupNo" name="groupNo">
                <!-- 등록된 그룹 없음 -->
                <th:block th:if="${#lists.isEmpty(Glist)}">
                    <option value="">등록된 그룹 없음</option>
                </th:block>
                <!-- 등록된 그룹 있음 -->
                <th:block th:unless="${#lists.isEmpty(Glist)}">
                    <option value="">그룹 선택</option>
                    <th:block th:each="group : ${Glist}">
                        <option th:value="${group.no}" th:text="${group.name}"></option>
                    </th:block>
                </th:block>
            </select>
        </p>
        <p><input class="form-control" type="text" id="name" name="name" placeholder="이름"></p>
        <p><input class="form-control" type="file" id="image" name="image" placeholder="이미지 등록"></p>
        <p><input class="form-control" type="text" id="birth" name="birth" placeholder="생년월일"></p>
        <p><input type="submit" class="btn btn-success" value="등록"></p>
    </form>
</div>


<!-- 푸터 -->
<th:block th:replace="/include/fragments :: footerFragment"></th:block>
</body>
</html>