<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mbc.day03.domain.CategoryMapper">

    <!-- 카테고리 등록 -->
    <insert id="insertCategory" parameterType="CategoryDTO">
        INSERT INTO category VALUES(#{cnum}, #{ccode}, #{cat_name})
    </insert>

    <!-- 카테고리 리스트 -->
    <select id="categoryList" resultType="CategoryDTO">
        SELECT * FROM category ORDER BY cnum ASC
    </select>

    <!-- 카테고리 삭제 -->
    <delete id="categoryDelete" parameterType="Integer">
        DELETE FROM category WHERE cnum = #{cnum}
    </delete>

    <!-- 카테고리 상세정보 -->
    <select id="catUpdate" parameterType="Integer" resultType="CategoryDTO">
        SELECT * FROM category WHERE cnum = #{cnum}
    </select>

    <!-- 카테고리 수정하기 OK -->
    <update id="catUpdateOk" parameterType="CategoryDTO">
        UPDATE category SET ccode = #{ccode}, cat_name = #{cat_name} WHERE cnum = #{cnum}
    </update>

    <!-- 카테고리별 상품 리스트 조회 쿼리 추가 9월 16일-->
    <select id="getShoppingListByCategory" parameterType="String" resultType="ShoppingDTO">
        SELECT * FROM product WHERE category_no = #{categoryNo}
    </select>

</mapper>